#heed{
    background-color:#316DC3;

    
    
}
#fb{
    margin-left: 100px;
}

.asd{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    margin-left: 5px;
    
}
.asd:hover{
    opacity: 0.8;
}
#mil{
    color: white;
    display: inline;
    margin-left: 0px;
    align-items: center;


}
button{
    margin-top:5px;
    color: grey;
    
    
}
#saylani{
    height: 90px;
    width: 200px;
    margin-left: 45px;
    margin-top: 0px;
}
#navb{
    height:90px;
}
ul{
    margin-right: 750px;
    margin-top: -35px;
}
.active{
    background-color:#316DC3 ;
color: white;
}
#log{
    width: 180px;
    height:80px;
    margin-left: 110px;
    
}
ul {
  display: inline;
  align-items: center;
  margin-top: 40px;
}
#nab{
   height: fit-content;

}
.nav-items{
    margin-left: 10px;
}
.dropbtn{
    background-color: white;
  color:black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

    .dropdown {
        position: relative;
        display: inline-block;
      
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #316DC3;
color: white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #316DC3;
border-radius: 15px;
color: white;}
